body {
    background-image: url(img/hotairballoon.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

a {
color: #000066;
 }
html,
body {
    width: 100%;
    height: 100%;
}

h1 {
    text-align: center;
    font-size: 80px;
    font-family: 'Montserrat', sans-serif;
}

#balloon {
    height: 170px;
}

.row {
    text-align: center;
    font-size: 30px;
    font-family: 'inherit', sans-serif;
    letter-spacing: 5px;
    color: #1ad1ff;
}

#balloon {
    opacity: 1.0;
}

#balloon:hover {
    opacity: 0.5;
}

h1 {
    color: #1ad1ff;
}

p {
    text-align: center;
    font-family: 'Arial', sans-serif;
    font-size: 20px;
    color:   #000066;
}

h2 {
    text-align: center;
    font-family: 'Oswald', sans-serif;
    font-size: 50px;
    color:  #1a66ff;
}

h3 {
    font-family: 'Arial', sans-serif;
}

h4 {
    text-align: center;
    font-size: 30px;
    font-family: Verdana;
    letter-spacing: 8px
}

#carousel-example-generic {
    width: 800px;
    height: 500px;
    text-align: center;
    margin: 0 auto;
    max-width: 100%;
}

#images {
    margin: 0 auto;
}

.jumbotron {
    background: rgba(0, 0, 0, 0.1);
}
#contact{
     background: rgba(0, 0, 0, 0.1);
}


/*small*/

@media only screen and (min-width: 768px) {
    h1 {
        color: #66c2ff;
    }
    h2 {
        color: blue;
    }
    h4 {
        color: black;
    }
    p {
        color:  #00004d;
    }
    .row {
        color: #4db8ff;
    }
    #testimonials {
        color: #404040;
    }
}


/*big*/

@media only screen and (min-width: 992px) {
    h1 {
        color: #0099ff;
    }
    h2 {
        color:blue;
        ;
    }
    h4 {
        color: black;
    }
    p {
        color:  #00004d;
    }
    .row {
        color: #1aa3ff;
    }
    #testimonials {
        color: #404040;
    }
}
