h1 {
    text-align: center;
    font-size: 60px;
    font-family: 'Montserrat', sans-serif;
    color: lightblue;
}

#balloon {
    height: 170px;
}

.row {
    text-align: center;
    font-size: 30px;
    font-family: 'Chewy', cursive;
}

#balloon {
    opacity: 1.0;
}

#balloon:hover {
    opacity: 0.5;
}

p {
    text-align: center;
    font-family: Arial;
}

h2 {
    text-align: center;
    font-family: 'Oswald', sans-serif;
}

h3 {
    font-family: Arial
}

h4 {
    text-align: center;
}

#carousel-example-generic {
    width: 600px;
    height: 400px;
    text-align: center;
    margin: 0 auto;
}

#images {
    margin: 0 auto;
}


/*small*/

@media only screen and (min-width: 768px) {
    h1 {
        color: blue;
    }
    h2 {
        color: blue;
    }
    h4 {
        color: blue;
    }
    p {
        color: blue;
    }
    .row {
        color: blue;
    }
    #testimonials {
        color: blue;
    }
}


/*big*/

@media only screen and (min-width: 992px) {
    h1 {
        color: lightblue;
    }
    h2 {
        color: lightblue;
    }
    h4 {
        color: lightblue;
    }
    p {
        color: lightblue;
    }
    .row {
        color: lightblue;
    }
    #testimonials {
        color: lightblue;
    }
}
