body {
    background-image: url(img/skyclouds.JPG);
    background-size: cover;
    background-repeat :no-repeat;
    background-attachment: fixed;
}

a {
    background-color: white;
}
html,
body {
    width: 100%;
    height: 100%;
}

h1 {
    text-align: center;
    font-size: 80px;
    font-family: 'Montserrat', sans-serif;
    color: #66ccff;
}

#balloon {
    height: 170px;
}

.row {
    text-align: center;
    font-size: 30px;
    font-family: 'inherit',sans-serif;
    letter-spacing: 5px;
    color: #80d4ff;
}

#balloon {
    opacity: 1.0;
}

#balloon:hover {
    opacity: 0.5;
}

p {
    text-align: center;
    font-family: 'Arial', sans-serif;
    font-size: 20px;
    color: #f2f2f2;
}

h2 {
    text-align: center;
    font-family: 'Oswald', sans-serif;
    font-size: 50px;

color: #8080ff;    
}

h3 {
    font-family: 'Arial', sans-serif;
}

h4 {
    text-align: center;
    font-size: 30px;
    font-family: Verdana;
    letter-spacing: 8px
}

#carousel-example-generic {
    width: 800px;
    height: 500px;
    text-align: center;
    margin: 0 auto;    max-width: 100%;


}

#images {
    margin: 0 auto;
}



/*small*/

@media only screen and (min-width: 768px) {
    h1 {
        color: #66c2ff;
    }
    h2 {
        color: #4d4dff;
;
    }
    h4 {
        color: black;
    }
    p {
        color:#00ccff;
    }
    .row {
        color: #4db8ff;
    }
    #testimonials {
        color: #00ccff;
    }
}


/*big*/

@media only screen and (min-width: 992px) {
    h1 {
        color: #0099ff;
    }
    h2 {
        color:#3333ff;
;
    }
    h4 {
        color: black;
    }
    p {
        color:#00ccff;
    }
    .row {
        color: #1aa3ff;
    }
    #testimonials {
        color: #00ccff;
    }
}
